:root{
  --color-primary: #00af17;
  --color-secondary: #ca0202;
}
.pfc-app{
  text-align: center;
}

.tile-wrapper{
  display: inline-grid;
  /* grid-template-columns: repeat(auto-fill,1fr);; */
  grid-template-columns: 30% 30% 30%;
  /* grid-auto-flow: row; */
  /* column-gap: 25px; */
  /* row-gap: 2vh; */
  /* gap: 0vw; */
}

.tile-name{
  text-align: center;
  margin-bottom: 10vh;
}
.status{
  min-height: 40px;
  color: var(--color-primary);
}

.choice{
  display: flex;
  justify-content: space-around;
  margin-bottom: 5vh;
}
.choice > h3{
  width: 232px;
  text-align: left;
}
#scissor-svg{
  stroke: #ca0202;
}